body {
  background-color: #383838;
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.center-in-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.form-control:focus {
  -webkit-box-shadow: -1px 2px 22px 0px rgba(127, 0, 191, 1);
  -moz-box-shadow: -1px 2px 22px 0px rgba(127, 0, 191, 1);
  box-shadow: -1px 2px 22px 0px rgba(127, 0, 191, 1);
}
.inputField {
  background-color: #383838;
  border: 0;
  color: white;
  margin-bottom: 15px;
}
.error {
  color: red;
  margin: 0;
  padding: 0;
}
