:root {
  --accentPurple: #7f00bf;
  --bodyGray: #383838;
  --pannelColor: #212529;
}

body {
  background-color: var(--bodyGray);
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card {
  margin: auto;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: var(--pannelColor);
  height: 700px;
  width: 95%;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}
.trailingText {
  font-size: 12px;
  margin-right: 20px;
}
.trailingText:hover {
  cursor: pointer;
  color: var(--accentPurple);
}
.center-in-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.form-control:focus {
  -webkit-box-shadow: -1px 2px 22px 0px var(--accentPurple);
  -moz-box-shadow: -1px 2px 22px 0px var(--accentPurple);
  box-shadow: -1px 2px 22px 0px var(--accentPurple);
}
.inputField {
  background-color: var(--bodyGray) !important;
  border: 0;
  color: white;
  margin-bottom: 15px;
}
.inputField:focus {
  background-color: var(--bodyGray) !important;
  border: 0;
  color: white;
  margin-bottom: 15px;
  -webkit-box-shadow: -1px 2px 22px 0px var(--accentPurple);
  -moz-box-shadow: -1px 2px 22px 0px var(--accentPurple);
  box-shadow: -1px 2px 22px 0px var(--accentPurple);
}
.inputField:disabled {
  background-color: var(--bodyGray) !important;
  border: 0;
  color: gray;
  margin-bottom: 15px;
}
.error {
  color: red;
  margin: 0;
  padding: 0;
}

/* animacoes */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
